@tailwind base;
@tailwind components;
@tailwind utilities;

/* If you want to keep some custom variables, you can add them here */
:root {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

body {
  font-family: var(--font-sans);
}